table {
    width: 100%;
    border: 1px solid;
  }
  table th {
    font-weight: bold;
  }
  tr:first-child {
    height: 70px;
    text-align: left;
    padding: 15px;
    background-color: #1976d2;
    color: white;
    border: black;
  }
tr:nth-child(even) {background-color: #f2f2f2;}

